<%- include('./partials/head') %>

		<%- include('./partials/nav') %>

		<%- include('./partials/header') %>

		<section class="container__info">
			<div>
				<ul>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> This App was tested with
						NetSuite ERP;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> On the Client Details
						provider, set the Redirect URI to <b>https://locahost:8080/</b>;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> It's mandatory to use
						https!
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> The intent of this app is
						to be used locally;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> To use the https module is
						necessary to have a OpenSSL key and certificate;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Set your own app config
						variables;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> It's necessary to be
						logged in NetSuite ERP;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Please refer to the docs
						in <a href="https://github.com/apintok/authflow" target="_blank">Github</a> repo;
					</li>
				</ul>
			</div>
		</section>

		<section class="container__steps">
			<div class="container__form">
				<h4>Step 1 - GET Request to the Authorization Endpoint.</h4>

				<form id="oauth2_step1" action="/v1/oauth2" method="get">
					<div class="input__group--params">
						<input type="text" id="clientid" name="clientid" placeholder="Client ID" required /><br />
						<input type="text" id="state" name="state" placeholder="State" required /><br />
						<input type="text" id="redirect_uri" name="redirect_uri" placeholder="Redirect URI" required /><br />
					</div>
					<div class="input__group--scope">
						<span>Scope</span><br />
						<input type="checkbox" id="restlet" name="scope" value="restlets" checked />
						<label for="restlets"> Restlets</label><br />
						<input type="checkbox" id="rest_webservices" name="scope" value="rest_webservices" />
						<label for="rest_webservices"> Rest Web Services</label><br />
						<span class="warning">Warning - Please Select 1 or 2 Scopes.</span>
					</div>

					<input class="btn" id="authorize" type="submit" value="Authorize" />
				</form>
			</div>

			<div class="container__form">
				<h4>Step 2 - POST Request to the Token Endpoint.</h4>

				<form id="oauth2_step2" action="/v1/oauth2" method="post">
					<div class="input__group--params">
						<input type="text" id="code" name="code" value="<%= code.code %>" placeholder="Code" required /><br />
						<input type="text" id="redirect_uri_post" name="redirect_uri_post" placeholder="Redirect URI" required /><br />
					</div>

					<div class="input__group--scope">
						<span>Grant Type</span><br />
						<input type="radio" id="authorization_code" name="grant_type" value="authorization_code" checked />
						<label for="authorization_code"> Authorization Code</label><br />
						<input type="radio" id="refresh_token" name="grant_type" value="refresh_token" disabled />
						<label for="refresh_token"> Refresh Token</label><br />
					</div>

					<input class="btn" type="submit" value="Get Token" />
				</form>
			</div>

			<div class="container__form">
				<h4>Step 3 - Refresh Token</h4>

				<form id="oauth2_step3" action="/v1/oauth2/refresh" method="post">
					<div class="input__group--params">
						<input type="text" id="refresh" name="refresh" value="" placeholder="Refresh Token" required /><br />
					</div>

					<div class="input__group--scope">
						<span>Grant Type</span><br />
						<input type="radio" id="authorization_code" name="grant_type" value="authorization_code" disabled />
						<label for="authorization_code"> Authorization Code</label><br />
						<input type="radio" id="refresh_token" name="grant_type" value="refresh_token" checked />
						<label for="refresh_token"> Refresh Token</label><br />
					</div>

					<input class="btn" type="submit" value="Refresh Token" />
				</form>
			</div>

			<div class="container__form">
				<h4>Step 4 - Revoke Token</h4>

				<form id="oauth2_step4" action="/v1/oauth2/revoke" method="post">
					<div class="input__group--params">
						<input type="text" id="revoke" name="token" value="" placeholder="Revoke Token" required /><br />
					</div>

					<input class="btn" type="submit" value="Revoke Token" />
				</form>
			</div>
		</section>

		<section class="container__token">
			<h4>Token Result</h4>
			<div class="container__token--display">
				<pre class="result__token"><code><%= access_token %></code></pre>
			</div>
		</section>
	
		<%- include('./partials/footer') %>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="../../js/index.js"></script>
	</body>
</html>
