<%- include('./partials/head') %>

        <%- include('./partials/nav') %>

        <%- include('./partials/header') %>

		<section class="container__info">
			<div>
				<ul>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> This App was tested with and for
						NetSuite ERP Integration;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> It's necessary to be
						logged in NetSuite ERP;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> On the Client Details
						provider, set the Redirect URI to <b>https://locahost:"port#"/</b>;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> If used locally, it's mandatory to use
						https!
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> To use the https module is
						necessary to have a OpenSSL key and certificate;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Set your own app config
						variables;
					</li>
					<li>
						<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Please refer to the docs
						in <a href="https://github.com/apintok/authflow" target="_blank">Github</a> repo;
					</li>
				</ul>
			</div>
		</section>

		<section class="container__steps">
			<div class="container__steps--display">
				<div class="container__form">
					<h4>Step 1 - Obtain An Unauthorized Request Token.</h4>
	
					<form id="oauth1_step1" action="/v1/oauth1/obtain" method="post">
						<div class="input__group--params">
							<input type="text" id="oauth_consumer_key" name="oauth_consumer_key" placeholder="Consumer Key" required /><br />
							<input type="text" id="consumersecret" name="consumersecret" placeholder="Consumer Secret" required /><br />
							<input type="text" id="realm" name="realm" placeholder="Realm" required /><br />
							<input type="text" id="oauth_callback" name="oauth_callback" placeholder="Callback URL" required /><br />
						</div>
						<div class="input__group--scope">
							<span>Signature Method</span><br />
							<input type="checkbox" id="hmac1" name="oauth_signature_method" value="HMAC-SHA1" disabled />
							<label for="oauth_signature_method"> HMAC-SHA1</label><br />
							<input type="checkbox" id="hmac256" name="oauth_signature_method" value="HMAC-SHA256" checked />
							<label for="oauth_signature_method"> HMAC-SHA256</label><br />
							<span>oAuth Version</span><br />
							<input type="checkbox" id="oauth_version" name="oauth_version" value="1.0" checked />
							<label for="oauth_version"> 1.0</label><br />
							<div class="note">Nonce, Timestamp and Signature are generate automatically based on the input values.</div>
						</div>
	
						<input class="btn" id="obtain" type="submit" value="Obtain" />
					</form>
				</div>
	
				<div class="container__form">
					<h4>Step 2 - Authorize the Request Token.</h4>
	
					<form id="oauth1_step2" action="/v1/oauth1/authorize" method="get">
						<div class="input__group--params">
							<input type="text" id="oauth_token" name="oauth_token" value="<%= oauth_token %>" placeholder="oAuth Token" required /><br />
						</div>
	
						<div class="note">The Auth Token needs to be passed on the next request as a parameter. The value in the box is the result of Step 1.</div>
	
						<input class="btn" type="submit" value="Authorize" />
					</form>
				</div>
	
				<div class="container__form">
					<h4>Step 3 - Exchange the Request Token for an Access Token</h4>
	
					<form id="oauth1_step3" action="/v1/oauth1/exchange" method="post">
						<div class="input__group--params">
							<input type="text" id="oauth_verifier" name="oauth_verifier" value="<%= code.oauth_verifier %>" placeholder="oAuth Verfier" required /><br />
							<input type="text" name="oauth_token" value="<%= code.oauth_token %>" placeholder="oAuth Token" required /><br />
							<input type="text" name="oauth_consumer_key" placeholder="Consumer Key" required /><br />
						</div>
	
						<div class="input__group--scope">
							<span>Signature Method</span><br />
							<input type="checkbox" name="oauth_signature_method" value="HMAC-SHA1" disabled />
							<label for="oauth_signature_method"> HMAC-SHA1</label><br />
							<input type="checkbox" name="oauth_signature_method" value="HMAC-SHA256" checked />
							<label for="oauth_signature_method"> HMAC-SHA256</label><br />
							<span>oAuth Version</span><br />
							<input type="checkbox" name="oauth_version" value="1.0" checked />
							<label for="oauth_version"> 1.0</label><br />
							<div class="note">Nonce, Timestamp and Signature are generate automatically based on the input values.</div>
							<div class="note">Both Token and Verifier Code from reponse on Step 2 are necessary</div><br />
						</div>
	
						<input class="btn" type="submit" value="Exchange" />
					</form>
				</div>
			</div>
		</section>

		<section class="container__token">
			<h4>Response Values & Tokens</h4>
			<div class="container__token--display">
				<!-- <pre class="result__token"><code></code></pre> -->
				<% 	for (let i = 0; i < data.length; i++) { %>
					<% const value = data[i].split('='); %>
					<input type="text" value="<%= value[1]%>"/>
				<% }; %>
			</div>
		</section>
	
		<%- include('./partials/footer') %>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="../../js/index.js"></script>
	</body>
</html>
